[submodule "Module-1/sprint-1/modernpython"]
	path = Module-1/sprint-1/modernpython
	url = https://github.com/rhettinger/modernpython.git
[submodule "Module-I(Data Wrangling with Python)/sprint-I/modernpython"]
	path = Module-I(Data Wrangling with Python)/sprint-I/modernpython
	url = https://github.com/rhettinger/modernpython.git
